form li{
  list-style: none;
  margin-bottom: 20px;
}

form ul{
  padding-left: 0;
}
label{
  display:block;
  cursor:pointer;
  color:red;
  font-family: sans-serif;
  padding-bottom: 10px;
}

textarea{
  width: 400px;
  height: 300px;
}
